DEBUG=True
SECRET_KEY=mysecretkey
DATABASE_URL=sqlite:///db.sqlite3
GOOGLE_OAUTH_CLIENT_ID=123-abc.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET=Gxxxxx
FACEBOOK_OAUTH_CLIENT_ID=123456789
FACEBOOK_OAUTH_CLIENT_SECRET=xxxxx
SEZNAM_OAUTH_CLIENT_ID=xxxxx
SEZNAM_OAUTH_CLIENT_SECRET=xxxxx
MOJEID_OAUTH_CLIENT_ID=xxxxx
MOJEID_OAUTH_CLIENT_SECRET=xxxxx
MAPY_CZ_API_KEY=123ABC
ALLOWED_HOSTS=localhost
CSRF_TRUSTED_ORIGINS=http://localhost
#STATIC_ROOT=/var/www/html/staticfiles
