DEBUG=True
SECRET_KEY=mysecretkey
DATABASE_URL=sqlite:///db.sqlite3
GOOGLE_OAUTH_CLIENT_ID=123-abc.apps.googleusercontent.com
GOOGLE_OAUTH_CLIENT_SECRET=Gxxxxx
MAPY_CZ_API_KEY=123ABC
ALLOWED_HOSTS=localhost
CSRF_TRUSTED_ORIGINS=http://localhost
# USE_PROXY_SSL_HEADER=True   # zapněte jen za TLS-terminující reverzní proxy
