{% extends "main/base.html" %}
{% load custom_tags %}

{% block header %}
<header class="login-header">
    <div class="container">
        <h1 class="display-4 mb-3">Správa profilu</h1>

        {% if user.profile.is_member %}
        <h3>Vítej, {{ user.first_name|vokativ|capfirst }}!</h3>
        <p class="lead mb-4">Zde si můžete změnit nastavení svého účtu.</p>
        {% elif user.profile %}
        <h1 class="display-4 mb-3">Status přihlášky</h1>
        <p class="lead mb-4">Děkujeme, že jsi požádal o členstí ve spolku, tvoje přihláška čeká na schválení výkonnou radou spolku.</p>
        {% else %}
        <h3 class="mb-3">Stát se členem</h3>
        <p class="text-muted small mb-4">Tento login (<em>{{ user.email }}</em>) není spojen s žádným členem spolku - buď jste pro přihlášení použili jiný login než s přihláškou nebo jste ještě nepožádali o členství.</p>
        {% endif %}
    </div>
</header>
{% endblock %}


{% comment %}
{% elif not is_member %}
<div class="feature-icon mx-auto"><i class="bi bi-people-fill"></i></div>
<h3 class="h4 mb-2">Vítej, {{ user.first_name|vokativ|capfirst }}!</h3>
<hr/>
<p class="text-muted small mb-4">Jsem rodičem studenta naší školy a chcete se stát členem spolku</p>

<div class="d-grid gap-3">
    <a href="{% url 'update_profile' %}" class="btn btn-waldorf py-2.5 fw-bold">
        <i class="bi bi-box-arrow-in-right me-2"></i>Spravovat členství
    </a>
</div>

<p class="text-muted small mb-4">Jsem členem spolku a toto je můj nový/další login.</p>

<div class="d-grid gap-3">
    <a href="{% url 'update_profile' %}" class="btn btn-waldorf py-2.5 fw-bold">
        <i class="bi bi-box-arrow-in-right me-2"></i>Přidat nový login
    </a>
</div>

<p class="text-muted small mb-4">Přihlásil jsem se špatným loginem, chci se přihlásit znovu.</p>

<div class="d-grid gap-3">
    <a href="{% url 'account_logout' %}" class="btn btn-waldorf py-2.5 fw-bold">
        <i class="bi bi-box-arrow-in-right me-2"></i>Odhlásit
    </a>
</div>


        Změny ohledně studentů, které jsoudětí Některé změny vyžadují schválení valnou hrnomadou spolku.</p>


 
{% endcomment %}
