{% load custom_tags %}

{% if not is_logged_in %}
<div class="feature-icon mx-auto"><i class="bi bi-people-fill"></i></div>
<h3 class="h4 mb-2">Jste členem spolku nebo se jím chcete stát?</h3>
<p class="text-muted small mb-4">Jste rodičem studenta naší školy a chcete se stát členem spolku? Jste členem spolku a chcete  přístup k interním informacím? V tom případě se prosím přihlaste.</p>

<div class="d-grid gap-3">
    <a href="{% url 'account_login' %}" class="btn btn-waldorf py-2.5 fw-bold">
        <i class="bi bi-box-arrow-in-right me-2"></i>Přihlásit se / Registrovat
    </a>
</div>

<div class="mt-3">
    <span class="text-muted x-small d-block" style="font-size: 0.8rem;">
        <i class="bi bi-shield-check me-1"></i> Využíváme bezpečné přihlášení přes Google nebo Facebook.
    </span>
</div>

{% elif not is_member %}
<div class="feature-icon mx-auto"><i class="bi bi-people-fill"></i></div>
<h3 class="h4 mb-2">Vítej, {{ user.first_name|vokativ|capfirst }}!</h3>
<p class="text-muted small mb-4">Tento login (<em>{{ user.email }}</em>) není spojen s žádným členem spolku - buď jste pro přihlášení použili jiný login nebo jste ještě nepožádali o členství.</p>
<hr/>
<p class="text-muted small mb-4">Jsem rodičem studenta naší školy a chcete se stát členem spolku</p>

<div class="d-grid gap-3">
    <a href="{% url 'user_config' %}" class="btn btn-waldorf py-2.5 fw-bold">
        <i class="bi bi-box-arrow-in-right me-2"></i>Chci se stát členem spolku
    </a>
</div>

<p class="text-muted small mb-4">Jsem členem spolku a toto je můj nový/další login.</p>

<div class="d-grid gap-3">
    <a href="{% url 'user_config' %}" class="btn btn-waldorf py-2.5 fw-bold">
        <i class="bi bi-box-arrow-in-right me-2"></i>Přidat nový login
    </a>
</div>


{% else %}
<div class="feature-icon mx-auto"><i class="bi bi-house-heart-fill"></i></div>
<h3 class="h4 mb-3">Vítej, {{ user.first_name|vokativ|capfirst }}!</h3>

{% endif %}



